*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
body{
    min-height: 100vh;
    background-image: url(images.png);
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: black;
    align-items: center;
    align-content: center;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}
nav a{
    height: 100%;
    padding: 30px;
    text-decoration: none;
    display: flex;
    color: white;
    align-items: center;
    align-content: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}